.pptPdfpdfPage1Of51 {
  top: 0;
}
.pptPdfpdfPage1Of51,
.pptPdfpdfPage2Of51,
.pptPdfpdfPage3Of51,
.pptPdfpdfPage5Of51 {
  position: absolute;
  left: 0;
  width: 1280px;
  height: 720px;
  overflow: hidden;
  object-fit: cover;
}
.pptPdfpdfPage2Of51 {
  top: 720px;
}
.pptPdfpdfPage3Of51 {
  top: 1440px;
}
.pptPdfpdfPage5Of51 {
  top: 2160px;
}
.pptPdfpdfPage10Of51 {
  position: absolute;
  left: 0;
  width: 1280px;
  height: 720px;
  overflow: hidden;
  object-fit: cover;
}
.pptPdfpdfPage6Of51 {
  top: 2880px;
}
.pptPdfpdfPage6Of51,
.pptPdfpdfPage7Of51,
.pptPdfpdfPage8Of51,
.pptPdfpdfPage9Of51 {
  position: absolute;
  left: 0;
  width: 1280px;
  height: 720px;
  overflow: hidden;
  object-fit: cover;
}
.pptPdfpdfPage7Of51 {
  top: 3600px;
}
.pptPdfpdfPage8Of51 {
  top: 4320px;
}
.pptPdfpdfPage9Of51 {
  top: 5040px;
}
.pptPdfpdfPage10Of51 {
  top: 5760px;
}
.pptPdfpdfPage11Of51 {
  top: 6480px;
}
.pptPdfpdfPage11Of51,
.pptPdfpdfPage12Of51,
.pptPdfpdfPage13Of51,
.pptPdfpdfPage14Of51 {
  position: absolute;
  left: 0;
  width: 1280px;
  height: 720px;
  overflow: hidden;
  object-fit: cover;
}
.pptPdfpdfPage12Of51 {
  top: 7200px;
}
.pptPdfpdfPage13Of51 {
  top: 7920px;
}
.pptPdfpdfPage14Of51 {
  top: 8640px;
}
.pptPdfpdfPage15Of51 {
  top: 9360px;
}
.pptPdfpdfPage15Of51,
.pptPdfpdfPage17Of51,
.pptPdfpdfPage18Of51,
.pptPdfpdfPage19Of51 {
  position: absolute;
  left: 0;
  width: 1280px;
  height: 720px;
  overflow: hidden;
  object-fit: cover;
}
.pptPdfpdfPage17Of51 {
  top: 10080px;
}
.pptPdfpdfPage18Of51 {
  top: 10800px;
}
.pptPdfpdfPage19Of51 {
  top: 11520px;
}
.pptPdfpdfPage20Of51 {
  top: 12240px;
}
.pptPdfpdfPage20Of51,
.pptPdfpdfPage21Of51,
.pptPdfpdfPage22Of51,
.pptPdfpdfPage23Of51 {
  position: absolute;
  left: 0;
  width: 1280px;
  height: 720px;
  overflow: hidden;
  object-fit: cover;
}
.pptPdfpdfPage21Of51 {
  top: 12960px;
}
.pptPdfpdfPage22Of51 {
  top: 13680px;
}
.pptPdfpdfPage23Of51 {
  top: 14400px;
}
.pptPdfpdfPage25Of51 {
  top: 15120px;
}
.pptPdfpdfPage25Of51,
.pptPdfpdfPage26Of51,
.pptPdfpdfPage27Of51,
.pptPdfpdfPage28Of51 {
  position: absolute;
  left: 0;
  width: 1280px;
  height: 720px;
  overflow: hidden;
  object-fit: cover;
}
.pptPdfpdfPage26Of51 {
  top: 15840px;
}
.pptPdfpdfPage27Of51 {
  top: 16560px;
}
.pptPdfpdfPage28Of51 {
  top: 17280px;
}
.pptPdfpdfPage33Of51 {
  top: 18000px;
}
.pptPdfpdfPage33Of51,
.pptPdfpdfPage35Of51,
.pptPdfpdfPage36Of51,
.pptPdfpdfPage37Of51 {
  position: absolute;
  left: 0;
  width: 1280px;
  height: 720px;
  overflow: hidden;
  object-fit: cover;
}
.pptPdfpdfPage35Of51 {
  top: 18720px;
}
.pptPdfpdfPage36Of51 {
  top: 19440px;
}
.pptPdfpdfPage37Of51 {
  top: 20160px;
}
.pptPdfpdfPage39Of51 {
  top: 20880px;
}
.pptPdfpdfPage39Of51,
.pptPdfpdfPage40Of51,
.pptPdfpdfPage41Of51,
.pptPdfpdfPage42Of51 {
  position: absolute;
  left: 0;
  width: 1280px;
  height: 720px;
  overflow: hidden;
  object-fit: cover;
}
.pptPdfpdfPage40Of51 {
  top: 21600px;
}
.pptPdfpdfPage41Of51 {
  top: 22320px;
}
.pptPdfpdfPage42Of51 {
  top: 23040px;
}
.pptPdfpdfPage43Of51 {
  top: 23760px;
}
.pptPdfpdfPage43Of51,
.pptPdfpdfPage44Of51,
.pptPdfpdfPage45Of51,
.pptPdfpdfPage47Of51 {
  position: absolute;
  left: 0;
  width: 1280px;
  height: 720px;
  overflow: hidden;
  object-fit: cover;
}
.pptPdfpdfPage44Of51 {
  top: 24480px;
}
.pptPdfpdfPage45Of51 {
  top: 25200px;
}
.pptPdfpdfPage47Of51 {
  top: 25920px;
}
.pptPdfpdfPage48Of51 {
  top: 26640px;
}
.pptPdfpdfPage48Of51,
.pptPdfpdfPage49Of51,
.pptPdfpdfPage50Of51,
.pptPdfpdfPage51Of51 {
  position: absolute;
  left: 0;
  width: 1280px;
  height: 720px;
  overflow: hidden;
  object-fit: cover;
}
.pptPdfpdfPage49Of51 {
  top: 27360px;
}
.pptPdfpdfPage50Of51 {
  top: 28080px;
}
.pptPdfpdfPage51Of51 {
  top: 28800px;
}
.tV1 {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 29520px;
  overflow: hidden;
}
